{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block styles %}{% endblock %}
    {% block title %}<title>Interesting Reads</title>{% endblock %}
</head>
<body>
    <header>
        <div class="left"><h1 id="head-left" class="label">Example Site</h1></div>
        <div class="right"></div>
    </header>
    <div class="mid-content">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
        <div class="left"><h3 class="label">Created by: Kinetic Motif</h3></div>
        <div class="right"><h3 id="foot-right" class="label">Copy Right: 2024</h3></div>
    </footer>
</body>
</html>